build/
cache/
ckanofworms/static/.webassets-cache/
ckanofworms/static/bower/
ckanofworms/static/css/site-less.css
ckanofworms/static/css/site.min.css
development-*.ini
dist/
projects-*.ini
*.egg-info
*.mo
*.pyc
*.pyo
*~

